@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: white;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, white, rgba(255, 255, 255, 0) 50%);
  pointer-events: none; /* Allows clicks to pass through */
}

.word-fade {
  height: 1.2em;
}

.word {
  position: absolute;
  width: 100%;
  transition: opacity 0.5s ease-in-out; /* This might be redundant with inline styles */
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 2s ease-in-out infinite alternate;
}

@keyframes fadeInTitle {
  from {
    opacity: 0;
    transform: translateY(100%); /* Start from the right */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* End at its original position */
  }
}

@keyframes fadeInDetails {
  from {
    opacity: 0;
    /* transform: translateY(20px); */
  }
  to {
    opacity: 1;
    /* transform: translateY(0); */
  }
}

.fade-in-title, .fade-in-details {
  opacity: 0; /* Ensure elements are initially hidden */
  transform: translateY(5px); /* Start from 20px below their final position */
}

.fade-in-title {
  animation: fadeInTitle 2s ease forwards;
}

.fade-in-details {
  animation: fadeInDetails 2s ease forwards;
  animation-delay: 0.5s; /* Delay for the details animation */
}

.loading {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loading-bar-container {
  width: 100px;
  height: 32px;
  background: #d2d2d2;
}

.loading-bar {
  height: 32px;
  background: #fff;
}

.bullet-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  padding: 20px;
}

.bullet {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.bullet.active {
  background-color: #333;
}